<!--HOME-NAV START-->
<div class="home-nav">
	<div class="container">
		<div class="home-nav__wrap">
			<a href="index.html" class="home-nav__logo">
				<img src="img/logo.png" alt="LYKON">
			</a>
			<nav>
				<ul class="home-nav__list">
					<li class="home-nav__item">
						<a href="" class="home-nav__link">
							Home
						</a>
					</li>
					<li class="home-nav__item">
						<a href="about.html" class="home-nav__link">
							About
						</a>
					</li>
					<li class="home-nav__item">
						<a href="" class="home-nav__link">
							Statistics
						</a>
					</li>
					<li class="home-nav__item">
						<a href="" class="home-nav__link">
							Services
						</a>
					</li>
					<li class="home-nav__item">
						<a href="" class="home-nav__link">
							Contact
						</a>
					</li>
				</ul>
				<a href="" class="home-nav__btn btn">
					Sign Up
				</a>
			</nav>
		</div>
	</div>
</div>
<!--HOME-NAV END-->