.home-nav {
    position: absolute;
    width: 100%;
    padding-top: 62px;
    &.active {
        position: fixed;
        background: #000;
        top: 0;
        padding: 20px 0;
    }
    &__logo {
        max-width: 254px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        display: flex;
        align-items: center;
        padding-top: 5px;
    }
    &__list {
        display: flex;
    }
    &__link {
        font-size: 18px;
        color: #fff;
        line-height: 40px;
        transition: .3s;
        &:hover {
            color: $mainColor;
        }
    }
    &__item {
        margin-right: 35px;
    }
    &__btn {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        padding: 0 22px;
    }
    &__ham {
        display: none;
    }
}

.mob-menu {
    display: none;
    transform: translateX(220px);
}

@media (max-width: 1189px) {
    .home-nav {
        padding-top: 50px;
    }
}
@media (max-width: 1023px) {
    .home-nav {
        padding-top: 30px;
        &.active {
            .home-nav__logo {
                display: none;
            }
            nav {
                margin-top: 0;
            }
        }
        &__logo {
            width: 250px;
        }
        &__wrap {
            flex-direction: column;
        }
        nav {
            margin-top: 10px;
            padding-top: 0;
        }
    }
}
@media (max-width: 767px) {
}
@media (max-width: 639px) {
    .home-nav {
        &__logo {
            width: 200px;
        }
        &__link {
            font-size: 16px;
            line-height: 35px;
        }
        &__item {
            margin-right: 20px;
        }
        &__btn {
            font-size: 16px;
            line-height: 35px;
            height: 35px;
            padding: 0 15px;
        }
    }
}
@media (max-width: 479px) {
    .home-nav {
        &.active {
            .home-nav__logo {
                display: block;
            }
        }
        &__wrap {
            flex-direction: row;
            justify-content: space-between;
        }
        nav {
            display: none;
        }
        &__ham {
            display: block;
        }
    }
    .mob-menu {
        position: fixed;
        right: 0;
        top: 68px;
        padding: 80px 50px 30px;
        background: #000;
        transition: .3s;
        display: block;
        &__close {
            position: absolute;
            top: 0;
            left: 50%;
            &::before,
            &::after {
                content: '';
                background: #fff;
                width: 3px;
                height: 25px;
                display: block;
                position: absolute;
                top: 20px;
                left: 50%;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
        &.active {
            transform: translateX(0px);
        }
        &__link {
            color: #fff;
            font-size: 20px;
            &:hover {
                color: $mainColor;
            }
        }
        &__item {
            margin-bottom: 15px;
            text-align: center;
        }
        &__btn {
            font-size: 22px;
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
        }
    }
}