.header {
    background: url('../img/home-background.jpg') no-repeat center top / cover;
    color: #fff;
    padding: 300px 0 201px;
    &__title {
        font-size: 36px;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        text-transform: none;
        line-height: 1.2;
    }
    &__btns {
        display: flex;
        justify-content: center;
        margin-top: 31px;
    }
    &__text {
        width: 920px;
        font-size: 22px;
        margin: 26px auto 0;
    }
    &__borrow-btn,
    &__invest-btn {
        width: 445px;
        margin: 0 15px;
    }
}


@media (max-width: 1189px) {
    .header {
        padding-top: 250px;
        &__text {
            width: 100%;
        }

        &__title {
            font-size: 32px;
        }
    }
}
@media (max-width: 1023px) {
    .header {
        &.block {
            padding-top: 200px;
        }
        &__title {
            font-size: 30px;
        }
        &__text {
            font-size: 18px;
        }
        &__borrow-btn,
        &__invest-btn {
            margin: 0;
            width: 45%;
        }
        &__btns {
            justify-content: space-between;
        }
    }
}
@media (max-width: 767px) {
    .header {

        &__title {
            font-size: 28px;
            width: 100%;
        }

        &__borrow-btn,
        &__invest-btn {
            font-size: 20px;
            height: 40px;
            line-height: 40px;
        }
    }
}
@media (max-width: 639px) {
    .header {
        &.block {
            padding-top: 150px;
        }
    }
}
@media (max-width: 479px) {
    .header {
       &__btns {
           flex-direction: column;
           align-items: center;
       }
       &__borrow-btn,
       &__invest-btn {
           width: 80%;
       }
       &__invest-btn {
           margin-top: 20px;
       }
    }
}