<!--HEADER START-->
<header class="header block">
	<div class="container">
		<h1 class="title header__title">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
		</h1>
		<p class="header__text">
			Sed ut perspiciatis unde omnis 
			iste natus error sit voluptatem 
			accusantium doloremque laudantium, 
			totam rem aperiam, eaque ipsa quae ab 
			illo inventore veritatis et quasi 
			architecto beatae vitae dicta sunt 
			explicabo. 
		</p>
		<div class="header__btns">
			<a href="" class="header__borrow-btn btn">
				Start Borrowing
			</a>
			<a href="" class="header__invest-btn btn">
				Start Investing
			</a>
		</div>
	</div>
</header>
<!--HEADER END-->