<!--FOOTER START-->
<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<a href="index.html" class="footer__logo-box">
				<img src="img/logo-footer.png" alt="" class="footer__logo">
			</a>
			<div class="footer__info">
				<div class="footer__box footer__box_1">
					<h3 class="footer__subtitle">
						GETTING STARTED
					</h3>
					<ul class="footer__list">
						<li class="footer__item">
							<a href="" class="footer__link">
								Borrowers
							</a>
						</li>
						<li class="footer__item">
							<a href="" class="footer__link">
								Investors
							</a>
						</li>
						<li class="footer__item">
							<a href="" class="footer__link">
								Brokers
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__box footer__box_2">
					<h3 class="footer__subtitle">
						COMPANY
					</h3>
					<ul class="footer__list">
						<li class="footer__item">
							<a href="" class="footer__link">
								About Us
							</a>
						</li>
						<li class="footer__item">
							<a href="" class="footer__link">
								Contact Us
							</a>
						</li>
						<li class="footer__item">
							<a href="" class="footer__link">
								Apply Now
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__box footer__box_3">
					<h3 class="footer__subtitle">
						CONNECT
					</h3>
					<ul class="footer__list footer__list_3">
						<li class="footer__item">
							<span href="" class="footer__link">
								500 Summer St., Suite 500,
							</span>
						</li>
						<li class="footer__item">
							<span href="" class="footer__link">
								Stamford, CT 06901
							</span>
						</li>
						<li class="footer__item">
							<a href="tel:+2036148885" class="footer__link">
								(203) 614-8885
							</a>
						</li>
						<li class="footer__item">
							<a href="mailto:mwarshaw@thelykongroup.com" class="footer__link">
								mwarshaw@thelykongroup.com
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__strip">
		Copyright 2019 | The Lykon Group
	</div>
</footer>
<!--FOOTER END-->