.process {
    &__title {
        font-size: 43px;
        color: #fff;
        background: $mainColor;
        text-align: center;
        padding: 108px 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 102px;
    }
    &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__name {
        font-size: 34px;
        color: #383838;
    }
    &__right {
        width: 540px;
    }
    &__text {
        margin-top: 18px;
    }
    &__right {
        margin-top: 15px;
    }
    &__left {
        width: 540px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &_2 {
            order: 1;
        }
    }
    &__btn {
        font-size: 17px;
        line-height: 49px;
        height: 49px;
        padding: 0 40px;
        margin-top: 27px;
    }
}

@media (max-width: 1189px) {

}

@media (max-width: 1023px) {

}

@media (max-width: 767px) {

}

@media (max-width: 639px) {

}

@media (max-width: 479px) {

}