<!--CHOICE START-->
<section class="choice block">
	<div class="container">
		<h2 class="choice__title title">
			Lorem Ipsum Sit <span>Simple</span>  Loan Process
		</h2>
		<div class="choice__text">
			Sed ut perspiciatis unde omnis 
			iste natus error sit voluptatem 
			accusantium doloremque laudantium, 
			totam rem aperiam, eaque ipsa quae 
			ab illo inventore veritatis et quasi 
			architecto beatae vitae dicta sunt 
			explicabo.
		</div>
		<div class="choice__list">
			<div class="choice__item">
				<span class="choice__item-icon"></span>
				Lorem ipsum dolor sit amet
			</div>
			<div class="choice__item">
				<span class="choice__item-icon"></span>
				Lorem ipsum dolor sit amet
			</div>
			<div class="choice__item">
				<span class="choice__item-icon"></span>
				Lorem ipsum dolor sit amet
			</div>
		</div>
		<div class="choice__strip">
			<div class="choice__logo-box">
				<img src="img/logo-footer.png" alt="">
			</div>
			<div class="choice__tabs">
				<div class="choice__tab active">
					Full Application
				</div>
				<div class="choice__tab">
					Useful Documents <span>&#9660;</span>
				</div>
			</div>
		</div>
		<form action="" method="" class="choice__form">
			<div class="choice__client">
				<span class="choice__client-top">Loan Officer/Mortgage Broker</span>
				<p class="choice__question">
					Are you a Loan Officer/Mortgage Broker or working with one?
				</p>
				<div class="choice__client-btns">
					<label for="client1" class="choice__client-label">
						<input type="radio" name="client" id="client1">
						<span></span>
						<p class="choice__ans">
							Yes
						</p>
					</label>
					<label for="client2" class="choice__client-label">
						<input type="radio" name="client" id="client2" checked>
						<span></span>
						<p class="choice__ans">
							No
						</p>
					</label>
					
				</div>
			</div>
			<div class="choice__form-line">
				<div class="choice__form-box">
					<p class="choice__question choice__question_input">
						What kind of program are you looking for?
						<span>
							i
						</span>
					</p>
					<select name="program" id="" class="choice__select choice__form-field">
						<option value="0">- Select -</option>
					</select>
				</div>
				<div class="choice__form-box">
					<p class="choice__question choice__question_input">
						Where are you in the process?
					</p>
					<select name="program" id="" class="choice__select choice__form-field">
						<option value="0">- Select -</option>
					</select>
				</div>
			</div>
			<div class="choice__form-line">
				<div class="choice__form-box">
					<p class="choice__question choice__question_input">
						How did you hear about us?
					</p>
					<select name="program" id="" class="choice__select choice__form-field">
						<option value="0">- Select -</option>
					</select>
				</div>
			</div>
			<div class="choice__form-line">
				<div class="choice__form-box">
					<p class="choice__question choice__question_input">
						Reffering Party
					</p>
					<input type="text" class="choice__form-field">
				</div>
			</div>
			<button class="choice__submit">
				Submit
			</button>
		</form>
	</div>
</section>
<!--CHOICE END-->