<!--CHOICE START-->
<section class="choice block">
	<div class="container">
		<h2 class="choice__title title">
			Lorem Ipsum Sit <span>Simple</span>  Loan Process
		</h2>
		<div class="choice__text">
			Sed ut perspiciatis unde omnis 
			iste natus error sit voluptatem 
			accusantium doloremque laudantium, 
			totam rem aperiam, eaque ipsa quae 
			ab illo inventore veritatis et quasi 
			architecto beatae vitae dicta sunt 
			explicabo.
		</div>
		<div class="choice__list">
			<div class="choice__item">
				<span class="choice__item-icon"></span>
				Lorem ipsum dolor sit amet
			</div>
			<div class="choice__item">
				<span class="choice__item-icon"></span>
				Lorem ipsum dolor sit amet
			</div>
			<div class="choice__item">
				<span class="choice__item-icon"></span>
				Lorem ipsum dolor sit amet
			</div>
		</div>
		<div class="choice__strip">
			<div class="choice__logo-box">
				<img src="img/logo-footer.png" alt="">
			</div>
			<div class="choice__tabs">
				<div class="choice__tab choice__tab_1">
					Full Application
				</div>
				<div class="choice__tab">
					<div class="choice__tab-name">
						<span class="choice__active-tab">Useful Documents</span> <span class="choice__arrow">&#9660;</span>
					</div>
					<div class="choice__tabs-hover">
							<span class="choice__tabs-hidden choice__tabs-hidden_1 active" data-name="Useful Documents" data-content="1">Useful Documents</span>
							<span class="choice__tabs-hidden choice__tabs-hidden_2" data-name="Documents #2" data-content="2">Documents #2</span>
							<span class="choice__tabs-hidden choice__tabs-hidden_3" data-name="Documents #3" data-content="3">Documents #3</span>
					</div>
				</div>
			</div>
		</div>
		<form action="" method="" class="choice__form choice__content choice__content_1 active">
			<div class="choice__client">
				<span class="choice__client-top">Loan Officer/Mortgage Broker</span>
				<p class="choice__question">
					Are you a Loan Officer/Mortgage Broker or working with one?
				</p>
				<div class="choice__client-btns">
					<label for="client1" class="choice__client-label">
						<input type="radio" name="client" id="client1">
						<span></span>
						<p class="choice__ans">
							Yes
						</p>
					</label>
					<label for="client2" class="choice__client-label">
						<input type="radio" name="client" id="client2" checked>
						<span></span>
						<p class="choice__ans">
							No
						</p>
					</label>
					
				</div>
			</div>
			<div class="choice__form-line">
				<div class="choice__form-box">
					<p class="choice__question choice__question_input">
						What kind of program are you looking for?
						<span>
							i
						</span>
					</p>
					<select name="program" id="" class="choice__select choice__form-field">
						<option value="0">- Select -</option>
					</select>
				</div>
				<div class="choice__form-box">
					<p class="choice__question choice__question_input">
						Where are you in the process?
					</p>
					<select name="program" id="" class="choice__select choice__form-field">
						<option value="0">- Select -</option>
					</select>
				</div>
			</div>
			<div class="choice__form-line">
				<div class="choice__form-box">
					<p class="choice__question choice__question_input">
						How did you hear about us?
					</p>
					<select name="program" id="" class="choice__select choice__form-field">
						<option value="0">- Select -</option>
					</select>
				</div>
			</div>
			<div class="choice__form-line">
				<div class="choice__form-box">
					<p class="choice__question choice__question_input">
						Reffering Party
					</p>
					<input type="text" class="choice__form-field">
				</div>
			</div>
			<button class="choice__submit">
				Submit
			</button>
		</form>
		<div class="choice__content_2 choice__content">
				Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации дальнейших направлений развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.
		</div>
		<div class="choice__content_3 choice__content">
				Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны сложившаяся структура организации способствует подготовки и реализации соответствующий условий активизации. Не следует, однако забывать, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет оценить значение модели развития. Повседневная практика показывает, что рамки и место обучения кадров позволяет выполнять важные задания по разработке модели развития.
		</div>
	</div>
</section>
<!--CHOICE END-->