<!--HEADER-ABOUT START-->
<header class="header-about block">
	<div class="container">
		<h1 class="header-about__title title">
			Lorem ipsum dolor sit amet?
		</h1>
		<div class="header-about__wrap">
			<div class="header-about__item">
				<h3 class="header-about__subtitle">
					Borrowers
				</h3>
				<p class="header-about__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				</p>
				<a href="#" class="header-about__btn btn">
					Get Started
				</a>
			</div>
			<div class="header-about__item">
				<h3 class="header-about__subtitle">
					Brokers
				</h3>
				<p class="header-about__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				</p>
				<a href="#" class="header-about__btn btn">
					Get Started
				</a>
			</div>
			<div class="header-about__item">
				<h3 class="header-about__subtitle">
					Investors
				</h3>
				<p class="header-about__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				</p>
				<a href="#" class="header-about__btn btn">
					Get Started
				</a>
			</div>
		</div>
	</div>
</header>
<!--HEADER-ABOUT END-->