<!--HEADER-CONTACT START-->
<header class="header-contact block">
	<div class="container">
		<div class="header-contact__wrap">
			<h2 class="header-contact__title">
			Contact us
		</h2>
		<p class="header-contact__text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		</p>
		</div>
	</div>
</header>
<!--HEADER-CONTACT END-->