.benefit {
	padding: 81px 0 83px;

	&__title {
		color: #3a3a3a;
		text-transform: none;
	}

	&__wrap {
		margin-top: 58px;
		padding-left: 34px;
	}

	&__item {
		display: flex;
		position: relative;
		border-left: 2px solid #bfbfbf;
		padding: 18px 0 48px 59px;
	}

	&__icon{
		background: $mainColor;
		border-radius: 50%;
		width: 65px;
		height: 65px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		left: -36px;
		top: -1px;
		position: absolute;
	}

	&__content {
		width: 96%;
	}

	&__subtitle {
		color: #3a3a3a;
		font-size: 28px;
		font-family: 'Roboto Condensed', sans-serif;
	}

	&__text {
		margin-top: 16px;
	}

	&__item_border {
		border: none;
	}
}



@media (max-width: 1189px) {
	.benefit {
		&__subtitle {
			font-size: 26px;
		}
	}	
}

@media (max-width: 1023px) {
	.benefit {
		&__subtitle {
			font-size: 24px;
		}
		&__title {
			text-align: center;
		}
		&__content {
			width: 100%;
		}
		&__wrap {
			margin-top: 35px;
		}
		&__item {
			padding: 18px 0 20px 59px;
		}
	}	
}

@media (max-width: 767px) {
	.benefit {
		&__subtitle {
			font-size: 22px;
		}
		&__wrap {
			margin-top: 20px;
		}
	}	
}

@media (max-width: 639px) {
	.benefit {
		&__subtitle {
			font-size: 21px;
		}
		&__item {
			padding: 18px 0 20px 45px;;
		}
	}	
}

@media (max-width: 479px) {
	.benefit {
		&__icon {
			display: none;
		}
		&__item {
			border-left: none;
			padding: 0 0 20px;
		}
		&__wrap {
			padding: 0;
		}
		&__subtitle {
			text-align: center;
		}
	}	
}