.benefit {
	&__title {
		color: #3a3a3a;
	}

	&__wrap {

	}

	&__item {

	}

	&__icon{

	}

	&__content {

	}

	&__subtitle {
		color: #3a3a3a;
		font-size: 28px;
	}

	&__text {

	}
}



@media (max-width: 1189px) {
	.benefit {}	
}

@media (max-width: 1023px) {
	.benefit {}	
}

@media (max-width: 767px) {
	.benefit {}	
}

@media (max-width: 639px) {
	.benefit {}	
}

@media (max-width: 479px) {
	.benefit {}	
}