<!--BENEFIT START-->
<section class="benefit block">
	<div class="container">
		<h2 class="benefit__title title">
			
		</h2>
		<div class="benefit__wrap">
			<div class="benefit__item">
				<div class="benefit__icon">
					<i class="fas fa-dollar-sign"></i>
				</div>
				<div class="benefit__content">
					<h3 class="benefit__subtitle">
						Lorem ipsum dolor sit amet
					</h3>
					<p class="benefit__text">
						In sit amet urna dapibus, pretium nisi nec, imperdiet velit maecenas Dapibus augue mi, sit amet bibendum mi lacinia turpis posuere ipsums quis ets. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl massa, aliquet sit amet viverra porttitor, vehicula non turpis.
					</p>
				</div>
			</div>
			<div class="benefit__item">
				<div class="benefit__icon">
					<i class="fas fa-money-check"></i>
				</div>
				<div class="benefit__content">
					<h3 class="benefit__subtitle">
						Lorem ipsum dolor sit amet
					</h3>
					<p class="benefit__text">
						In sit amet urna dapibus, pretium nisi nec, imperdiet velit maecenas Dapibus augue mi, sit amet bibendum mi lacinia turpis posuere ipsums quis ets. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl massa, aliquet sit amet viverra porttitor, vehicula non turpis.
					</p>
				</div>
			</div>
			<div class="benefit__item">
				<div class="benefit__icon">
					<i class="fas fa-donate"></i>
				</div>
				<div class="benefit__content">
					<h3 class="benefit__subtitle">
						Lorem ipsum dolor sit amet
					</h3>
					<p class="benefit__text">
						In sit amet urna dapibus, pretium nisi nec, imperdiet velit maecenas Dapibus augue mi, sit amet bibendum mi lacinia turpis posuere ipsums quis ets. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl massa, aliquet sit amet viverra porttitor, vehicula non turpis.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--BENEFIT END-->