<!--HEADER-PAGE START-->
<header class="header-page block">
	<div class="container">
		<h1 class="header-page__title title">
			Lorem ipsum dolor sit amet?
		</h1>
		<div class="header-page__wrap">
			<div class="header-page__item">
				<h3 class="header-page__subtitle">
					Borrowers
				</h3>
				<p class="header-page__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				</p>
				<a href="#" class="header-page__btn btn">
					Get Started
				</a>
			</div>
			<div class="header-page__item">
				<h3 class="header-page__subtitle">
					Brokers
				</h3>
				<p class="header-page__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				</p>
				<a href="#" class="header-page__btn btn">
					Get Started
				</a>
			</div>
			<div class="header-page__item header-page__item_push">
				<h3 class="header-page__subtitle">
					Investors
				</h3>
				<p class="header-page__text">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				</p>
				<a href="#" class="header-page__btn btn">
					Get Started
				</a>
			</div>
		</div>
	</div>
</header>
<!--HEADER-PAGE END-->