.story {
	background: $mainColor;
	padding: 102px 0 112px;

	&__wrap{
		display: flex;
		justify-content: space-between;
	}

	&__img {
		max-width: 351px;
	}

	&__content {
		width: 730px;
		color: #fff;
	}

	&__title {
		margin: 41px 0 30px;
	}

	&__text {
		&_push {
			margin-top: 21px;
		}
	}
}

@media (max-width: 1189px) {
	.story {
		&__content {
			width: 575px;
		}
	}
 }
@media (max-width: 1023px) {
	.story {
		&__wrap{
			align-items: flex-start;
		}
		&__img {
			width: 300px;
		}
		&__content {
			width: 406px;
		}
		&__title {
			margin: 0 0 12px;
		}
	}
 }
@media (max-width: 767px) {
	.story {
		&__img {
			display: none;
		}
		&__content {
			width: 100%;
		}
		&__title {
			text-align: center;
		}
		&__text {
			&_push {
				margin-top: 12px;
			}	
		}
	}
 }
@media (max-width: 639px) {
	.story {
	}
 }
@media (max-width: 479px) {
	.story {
	}
 }