.help {
	padding: 87px 0 76px;
	&__wrap {
	    display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}

	&__block {
		width: 349px;
		border-top: 15px solid $mainColor;
	}
	&__meaning {
		line-height: 1.219em;
	}

	&__content {
		width: 730px;
		margin-top: -3px;
	}
	&__text {
		&_push {
			margin-top: 21px;
		}
	}

	&__title {
		color: #1e1e1e;
		text-align: center;
		margin: 19px 0 22px;
	}
}

@media (max-width: 1189px) {
	.help {
		&__block {
		width: 320px;
		}
		&__content {
			width: 620px;
		}
	}
 }
@media (max-width: 1023px) {
	.help {
		&__block {
			width: 275px;
		}
		&__content {
			width: 445px;
		}
	}
 }
@media (max-width: 767px) {
	.help {
		&__wrap {
			flex-direction: column;
			align-items: center;
		}
		&__block {
			width: 100%;
			border-top: none;
			margin-bottom: 18px;
		}
		&__content {
			width: 100%;
		}
		&__text{
			&_push {
				margin-top: 12px;
			}
		}
		&__title {
			margin: 0 0 12px;
		}
	}
 }
@media (max-width: 639px) {
	.help {
	}
 }
@media (max-width: 479px) {
	.help {
	}
 }