.borrow {
	background: #efefef;
	padding: 80px 0 106px;
	&__title {
		text-align: center;
		color: #1e1e1e;
	}

	&__btn {
		width: 912px;
		margin: 0 auto;
		height: 64px;
	}

	&__text {
		width: 928px;
		margin: 30px auto 47px;
	}
}

@media (max-width: 1189px) {
 }
@media (max-width: 1023px) {
	.borrow {
		&__text {
			width: 100%;
		}
		&__btn {
			width: 100%;
		}
	}
 }
@media (max-width: 767px) {
	.borrow {
	}
 }
@media (max-width: 639px) {
	.borrow {
	}
 }
@media (max-width: 479px) {
	.borrow {
	}
 }