<!--KIND START-->
<section class="kind block">
	<div class="container">
		<h2 class="title kind__title">
			Lorem ipsum dolor sit amet, 
			consectetur adipiscing elit, 
			sed do eiusmod tempor 
		</h2>
		<ul class="kind__list">
			<li class="kind__item">
				<h3 class="kind__item-title">
					Borrowers
				</h3>
				<p class="kind__text">
					Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt 
					ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud 
					exercitation ullamco laboris nisi ut
					 aliquip ex ea commodo consequat. 
				</p>
				<a href="" class="kind__btn btn">
					GET FINANCING
				</a>
			</li>
			<li class="kind__item">
				<h3 class="kind__item-title">
					Investors
				</h3>
				<p class="kind__text">
					Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt 
					ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud 
					exercitation ullamco laboris nisi ut
					 aliquip ex ea commodo consequat. 
				</p>
				<a href="" class="kind__btn btn">
					START INVESTING
				</a>
			</li>
			<li class="kind__item">
				<h3 class="kind__item-title">
					Brokers
				</h3>
				<p class="kind__text">
					Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit, 
					sed do eiusmod tempor incididunt 
					ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud 
					exercitation ullamco laboris nisi ut
					 aliquip ex ea commodo consequat. 
				</p>
				<a href="" class="kind__btn btn">
					GET FINANCING
				</a>
			</li>
		</ul>
	</div>
</section>
<!--KIND END-->