<!--CONNECT START-->
<section class="connect block">
	<div class="container">
		<div class="connect__wrap">
			<div class="connect__content">
				<div class="connect__item">
					<div class="connect__icon">
						<img src="../img/phone.png" alt="phone" class="connect__img">
					</div>
					<div class="connect__info">
						<h3 class="connect__subtitle">
							Call Us
						</h3>
						<a href="tel:+2036148885" class="connect__link">
								(203) 614-8885
							</a>
					</div>
				</div>
				<div class="connect__item">
					<div class="connect__icon">
						<img src="../img/envelope.png" alt="envelope" class="connect__img">
					</div>
					<div class="connect__info">
						<h3 class="connect__subtitle">
							Email Us
						</h3>
						<a href="mailto:mwarshaw@thelykongroup.com" class="connect__link">
								mwarshaw@thelykongroup.com
							</a>
					</div>
				</div>
				<div class="connect__item connect__item_push">
					<div class="connect__icon">
						<img src="../img/map-marker.png" alt="map-marker" class="connect__img">
					</div>
					<div class="connect__info">
						<h3 class="connect__subtitle">
							Visit Us
						</h3>
						<div class="connect__link">
								2777 Summer St, Ste. 306 <br>Stamford, CT 06905
							</div>
					</div>
				</div>
			</div>
			<form class="connect__form form">
				<input type="text" class="form__input" placeholder="Name" name="name" required>
				<input type="email" class="form__input form__input_short form__input_push" placeholder="Email" name="E-mail" required>
				<input type="tel" class="form__input form__input_short" placeholder="Phone" name="phone" required>
				<textarea type="text" class="form__input form__input_height" placeholder="Message" name="message"></textarea>
				<button type="submit" class="form__btn btn">
					Send
				</button>
			</form> 
		</div>
	</div>
</section>
<!--CONNECT END-->