<!--PAGE-NAV START-->
<div class="page-nav">
	<div class="container">
		<div class="page-nav__wrap">
			<a href="index.html" class="page-nav__logo">
				<img src="img/logo.png" alt="LYKON">
			</a>
			<nav>
				<ul class="page-nav__list">
					<li class="page-nav__item">
						<a href="index.html" class="page-nav__link page-nav__link_home">
							Home
						</a>
					</li>
					<li class="page-nav__item">
						<a href="about.html" class="page-nav__link page-nav__link_about">
							About
						</a>
					</li>
					<li class="page-nav__item">
						<a href="services.html" class="page-nav__link page-nav__link_services">
							Services
						</a>
					</li>
					<li class="page-nav__item">
						<a href="contact.html" class="page-nav__link page-nav__link_contact">
							Contact
						</a>
					</li>
				</ul>
				<a href="" class="page-nav__btn btn">
					Sign Up
				</a>
			</nav>
			<div class="page-nav__ham">
				<svg height="28px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="25px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
			</div>
			<div class="page-nav__mob mob-menu">
				<div class="mob-menu__close"></div>
				<ul class="mob-menu__list">
					<li class="mob-menu__item">
						<a href="index.html" class="mob-menu__link page-nav__link_home">
							Home
						</a>
					</li>
					<li class="mob-menu__item">
						<a href="about.html" class="mob-menu__link page-nav__link_about">
							About
						</a>
					</li>
					<li class="mob-menu__item">
						<a href="services.html" class="mob-menu__link page-nav__link_services">
							Services
						</a>
					</li>
					<li class="mob-menu__item">
						<a href="contact.html" class="mob-menu__link page-nav__link_contact">
							Contact
						</a>
					</li>
					<li>
						<a href="" class="mob-menu__btn btn">
							Sign Up
						</a>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>
<!--PAGE-NAV END-->